<div class="text-center container">
  <%= render "layouts/errors", :object => @post %>

  <%= form_for @post do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %><br>
    <%= f.label :content %>
    <%= f.text_field :content %><br>
    <%= f.label :price %>
    $ <%= f.text_field :price %> <br>
    <%= f.label :address %>
    <%= f.text_field :address %>
    <%= f.file_field :image %>
    <%= f.submit %>
  <% end %>
</div>
