<div class="jumbotron index-jumbotron">
<p class='bridge-jumbo'>
    <h1 class="bridge">bridges</h1>
    <h2 class="bridge">let us connect the gaps in your life</h2>
</p>
</div>
<div class="text-center">
  <%= link_to "Show Categories", posts_path, remote:true  %>
  <span id="categories">   <%= render 'categories' %> </span>
</div>
<div class="row text-center image-container">
  <%= render 'postTile' %>
</div>

<div class="container text-center bridge-index">

  categories:
  <% if @tags.any? %>
  <ul>
    <% @tags.each do |tag| %>
    <ul><%= link_to tag.title, tag_path(tag) %></ul>
    <% end %>
  </ul>

  <% else %>
    <p>
      add a category
    </p>
  <% end %>

<% if current_user.try(:admin?) %>

  <%= link_to "new post", new_post_path %>
  <%= link_to "new tag", new_tag_path %>
  <%= link_to "edit photos", photos_path %>
<% end %>
</div>
