<div class="container text-center">
  <h2><%=@post.title%></h2>
  <p>
    <%=@post.content%> <%=link_to 'edit post', edit_post_path %>
  </p>
  <span><%=@post.created_at%></span>
  <br>
  <span>tags:</span>
  </p>
    <% @post.tags.each do |tag| %>
      <%=tag.title%> <%= link_to 'remove tag', post_path(@post, tag, :delete_tag => true), :method => :patch %><br>
    <% end %>
  <p>
    <hr>

    <%= render 'addTag' %>
    <hr>

    <% if user_signed_in? %>
    <%= render 'addComment' %>
    <% end %>
<br>
<p>
  Comments:
</p>
    <% if @comments.any? %>
      <% @comments.each do |comment|  %>
      <%= comment.content %> by <%= comment.user.name %> <% if user_signed_in? %><%= link_to 'edit', edit_post_comment_path(@post,comment) %> <%= link_to 'delete', post_comment_path(@post,comment),
                                                                                                                            :data => {:confirm => "Are you sure?",
                                                                                                                                    :method => "delete"}  %> <% end %>
      <% end  %>
    <% end %>

</div>
