<div class="row">
  <div class="container text-center">
    <h2><%=@post.title%></h2>
    <div class="col-md-6">
      <p>
        <!-- @post.photos.each do |photo|  -->
      <% if !@post.photos.empty? %>
          <%= link_to image_tag(@post.photos.first.image.url(:listing)), post_path(open_modal: true), remote: true %><br>
      <% end %>
      </p>
      <!-- <span>posted <%=time_ago_in_words(@post.created_at)%> ago</span> -->
      <%= @post.content %> <br>

      <% if @post.tags.any? %>
      <span>tags:</span>
      <% end  %>
        <% @post.tags.each do |tag| %>
          <%=tag.title%>   <% if current_user.try(:admin?)  %> <%= link_to 'remove tag', post_path(@post, tag, :delete_tag => true), :method => :patch %> <% end %><br>
      <% end %>
    </div>
    <div class="col-md-6">
      <div style='width: 800px;' class="text-center container">
        <div id="map" style='width: 500px; height: 500px; margin-bottom:5%;'></div>
      </div>
    </div>

    <hr>
    <% if user_signed_in? %>
    <div id="add-comment">
      <%= link_to 'add a comment', post_path(@post), remote: true %>
    </div>
    <% end %>
<br>

<p>
  <% if @comments.any? %>
  Comments:
</p>
    <div class="container">

      <%= @post.content %> <br>
      <%= number_to_currency(@post.price) %> <br>
      <%= link_to 'add to cart', post_path(@post, :add_cart => true), :method => :patch%><br>

    </div>
      <hr>
      <% if user_signed_in? %>
      <div id="add-comment">
        <%= link_to 'add a comment', post_path(add_comment: true), remote: true %>
      </div>
      <% end %>
  <br>
  <p>
    <% if @comments.any? %>
    Comments:
  </p>

        <% @comments.each do |comment|  %>
        <%= comment.content %> by <%= comment.user.name %><br>
        <span>posted <%=time_ago_in_words(comment.created_at)%> ago</span>
        <% if user_signed_in? || current_user.admin? %><%= link_to 'edit', edit_post_comment_path(@post,comment) %> <%= link_to 'delete', post_comment_path(@post,comment),
                                                                                                                              :data => {:confirm => "Are you sure?",
                                                                                                                                    :method => "delete"}  %> <% end %>
        <% end  %>
      <% end %>
    <% end %>

    <hr>
    <% if current_user.try(:admin?)  %>
    <%= link_to 'delete post', post_path(@post),
                        :data => {:confirm => "Are you sure?",
                                :method => "delete"} %>
    <p>
     <%=link_to 'edit post', edit_post_path %>

   <div id="add-photo">
    <%= link_to 'add a photo', post_path(add_photo: true), remote: true %>
   </div>

    </p>
    <%= render 'addTag' %>
    <% end %>

  </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <!-- <div class="modal-header">
      </div> -->
        <!-- <h4 class="modal-title" id="myModalLabel">Modal title</h4> -->

      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button><br>
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
          </ol>

          <!-- Wrapper for slides -->
        <% if !@post.photos.empty? %>
          <div class="carousel-inner" role="listbox">
            <div class="item active">
              <%= image_tag @post.photos.first.image.url(:listing) %>
              <div class="carousel-caption">
                ...
              </div>
            </div>
            <% @post.photos.drop(1).each do |photo| %>
            <div class="item">
              <%= image_tag photo.image.url(:listing) %>
              <div class="carousel-caption">
                ...
              </div>
            </div>
            <% end %>
            ...
          </div>
        <% end %> 
          <!-- Controls -->
          <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
        <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
      <!-- <div class="modal-footer">
      </div> -->
    </div>
  </div>
</div>

<script>
  function initMap() {
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 8,
      center: {lat: -34.397, lng: 150.644}
    });
  }
</script>

<script charset="utf-8">
  handler = Gmaps.build('Google');
  handler.buildMap({
    provider: {

  },
    internal: {
      id: 'map'
      }
  },
    function(){
      markers = handler.addMarkersmarkers = handler.addMarkers(<%=raw @hash.to_json %>);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
      handler.getMap().setZoom(14);
  }
  );
</script>
